<!DOCTYPE html >
<html >

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            BAOCMS创建数据
        </title>
        <meta content="" name="keywords">
        <meta content="" name="description">
        <script src="../Public/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="../install/template/style.css">


    </head>
    <body>
        <div class="wrap">
            <?php require './template/header.html';?>
             <iframe id="baocms_frm" name="baocms_frm" style="display:none;"></iframe>
            <div class="section">
                <div class="step">
                    <ul>
                        <li><em>1</em>检测环境</li>
                        <li class="current"><em>2</em>创建数据</li>
                        <li><em>3</em>完成安装</li>
                    </ul>
                </div>
                <form name="install" target="baocms_frm" method="post" action="index.php?action=4">
                <div class="server" id="install">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="120" class="td1">数据库信息</td>
                                <td width="200" class="td1">&nbsp;</td>
                                <td class="td1">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tar">数据库服务器：</td>
                                <td><input type="text" class="input"  name="dbhost" value="localhost" id="dbhost"></td>
                                <td><span class="gray">数据库服务器地址，一般为localhost</span></td>
                            </tr>
                             <tr>
                                <td class="tar">数据库端口：</td>
                                <td><input type="text" class="input" name="dbport" value="3306" id="dbport"></td>
                                <td><span class="gray">一般是3306</span></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库服务器用户名：</td>
                                <td><input type="text" class="input" value="root" name="dbuser" id="dbuser"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库服务器密码：</td>
                                <td><input type="text" class="input" value="" name="dbpw" id="dbpw"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库名：</td>
                                <td><input type="text" class="input" value="" name="dbname" id="dbname"></td>
                                <td><span class="gray">必须以字母开头，只允许字母、数字、下划线</span></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库表前缀：</td>
                                <td><input type="text" class="input" value="bao_" name="pre" id="pre"></td>
                                <td><span class="gray">建议使用默认，同一数据库安装多个BAOCMS程序时需修改</span></td>
                            </tr>
                        </tbody></table>
                    <table width="100%">
                        <tbody><tr>
                                <td width="100" class="td1">后台登录信息</td>
                                <td width="200" class="td1">&nbsp;</td>
                                <td class="td1">&nbsp;</td>
                            </tr>
                         
                            <tr>
                                <td class="tar">管理员帐号：</td>
                                <td><input type="text" class="input"  name="manager" value="baocms" id="manager"></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tar">密码：</td>
                                <td><input type="text" class="input" name="manager_pwd" id="manager_pwd" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tar">手机：</td>
                                <td><input type="text" value="15000000000" name="manager_mobile" class="input" id="manager_mobile"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="tar">baocms授权KEY：</td>
                                <td><input type="text" value="" name="bao_key" class="input" id="bao_key"></td>
                                <td></td>
                            </tr>
                      
                        </tbody>
                    </table>
                </div>
                <div class="bottom tac">

                    <a href="index.php?action=2" class="btn">上一步</a>
                    <a href="javascript:void(0);" onclick="$(this).parents('form').submit()" class="btn">下一步</a>
                </div>
                    
            </div>
        </div>
</form>
        <div class="footer">
            &copy; Copyright(c) 2014-2018 baocms <a href="http://www.baocms.com" target="_blank">合肥生活宝网络科技有限公司</a>
        </div>	</body>
</html>